/* $Id: styles.css,v 1.1.2.2.2.1 2011/01/11 01:08:49 dvessel Exp $ */
html {
	background: url('../images/shadow.png') repeat-y scroll 405px 10px #131518;
}
body {
	background-color: #323335;
	color: #a1a4a6;
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  	color: #fdfdfd;
  	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  	font-size: 18px;
  	letter-spacing: inherit;
}

a, a:link, a:visited, a:active {
    color: #307e94;
    text-decoration: none;
}

h1#site-name {
  margin-bottom: 0;
}

#site-subheader,
#footer-region,
.column,
.node,
.comment,
.block {
  margin-bottom: 1.5em;
}

.container-12, .container-16 {
	margin: 0;
	width: 1200px;
}

.container-12 .grid-8, #block-block-1 {
	overflow: hidden;
	width: 860px;	
}

#page {
	padding-left: 156px;
}

#main {
	margin-bottom: 0;
	padding-left: 50px;
	padding-top: 20px;
}

#site-subheader {
	float: left;
	padding-top: 20px;	
	margin-left: 1px;
}

#branding {
	padding-top: 20px;
}

#site-slogan {
	padding-top: 3px;
}

ul.menu li {
	list-style: none outside none;
	list-style-type: none;
	margin-left: 0;
}

ul.menu li a {
	color: #307e94;
} 

ul.menu li a.active {
	color: #fe0002;
} 

ul.menu li a:hover {
	color: #fe0002;
} 

#block-block-1 {
	padding-left: 50px;
}

#block-block-3 {
	float: left;	
	margin-left: 10px;
	width: 220px;
}

#sidebar-left {
	width: 220px
}

#content-top {
	background: url('../images/separator.png') no-repeat 0px 478px transparent;
	padding-bottom: 15px;
	width: 856px;
}

#content-top-left {
	float: left;
	margin-top: 10px;
	width: 40%;
}

#content-top-right {
	float: left;
	margin-top: 10px;
	width: 60%;
}

#content-bottom {
	clear: both;
	width: 860px;
}

#block-views-photo-galleries-block h2 {
	background: none;
}

#block-views-photo-galleries-block .views-field.views-field-title {
	text-align: center;
}

#block-views-photo-galleries-block .views-field-field-teaser-image img{
	border: 3px solid black;
}

#block-views-photo-galleries-block  .col-1,
#block-views-photo-galleries-block  .col-2, 
#block-views-photo-galleries-block  .col-3 {
	padding-right: 90px;
}

#block-homepage-rotator-homepage-rotator h2 {
	background: url('../images/separator.png') no-repeat 117px 13px transparent;
	width: 855px;
}

#block-views-photo-galleries-block h2 {
    background: url('../images/separator.png') no-repeat 141px 12px transparent;
	width: 852px;
}

#block-views-recent-post-block-1 h2 {
	background: url('../images/separator.png') no-repeat 114px 12px transparent;
}

#block-block-1 h2 {
	background: url('../images/bottom.jpg') no-repeat 211px 12px transparent;
}

#block-views-calendar-block-2 ul li {
	list-style: none outside none;	
	margin-bottom: 20px;
	margin-left: 0;
}

#block-views-calendar-block-2 ul li div {
	margin-bottom: 2px;
}

#block-views-calendar-block-2 ul li .views-field-field-fishing-time .views-label-field-fishing-time,
#block-views-calendar-block-2 ul li .views-field-field-fishing-type .views-label-field-fishing-type {
	display: block;
	float: left;
	margin-right: 5px;
}

.shadow {
	background: url('../images/shadow.png') repeat-y scroll 0px 10px transparent;
}

.not-front #main {
	min-height: 480px;
}
#footer {
	background: url('../images/shadow.png') repeat-y scroll 405px 10px #131518;
	height: 100%;
	padding-left: 165px;
	padding-top: 20px;
}

/* Maintenance Styles */

.maintenance-page #header #logo-title {
	padding-top: 20px;
}

.maintenance-page #main {
	padding-left: 0;
}

.maintenance-page #footer {
	background: none;
}